<h1 class="text-center mb-4">Welcome to my todolist app</h1>

<!-- Tab links -->

<div class="tab">
  <button class="tablinks" onclick="openList(event, 'All')">All lists</button>
  <button class="tablinks" onclick="openList(event, 'Image')">Images</button>
  <button class="tablinks" onclick="openList(event, 'New')">New ToDo list</button>
</div>

<!-- Tab content -->
<br>
<div id="All" class="tabcontent">
<%= render 'layouts/category'  %>
</div>

<div id="Image" class="tabcontent">
<div class="container">
  <div class="row">
    <% @tasks.each do |task|  %>
      <div class="card col-3">
        <% unless task.image.nil? %>
          <%= image_tag task.image, class: "rounded-circle" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
</div>

<div id="New" class="tabcontent">
<%= render 'layouts/task_form'  %>
</div>

