body {

background-image: linear-gradient(to right bottom, #21262e, #26303f, #2b3950, #314362, #374d74);

}

.mySlides {
	display: none;
	margin: 0 auto;
	width: 50%; 
}

.container-image {

	border-style: solid;
	border-radius: 10px;
	border-width: 2px;
	border-color: white;
}